:root {
    /*TODO: make these work (someone help)*/
    --enable-experimental: true;
    /*Requires webkit browsers; not tested*/
    --accessibile-buttons: true;
    /*Enables button borders for a11y*/
}
/*Begin copy-pasted segment from meowcity.club (with minor ajustments)*/
/*Links styling*/
a[href]:before {
    content: "[ ";
}
a[href]:after {
    content: " ]";
}
a[href],
a>span/*Only required because some instances do some strange stuff with links*/
{
    color: #0184BC;
    text-decoration: none;
}
/*Header styling*/
h1,
.p-name,
.snac-top-user-name {
    font-size: 1em!important;
    color: #CA1243;
}
h1:before,
.p-name:before,
.snac-top-user-name {
    content: "# ";
}
h2,
.snac-top-user-id {
    font-size: 1em!important;
    color: #526FFF;
}
h2:before,
.snac-top-user-id::before {
    content: "## ";
}
h3 {
    font-size: 1em;
    color: #E45649;
}
h3>a/*h3 colouring overrides the link*/
{
    color: #E45649;
}
h3:not(.terminal-input)::before {
    content: "### ";
}
h4:before {
    content: "#### "
}
h4 {
    font-size: 1em;
    color: #A626A4;
}
/*Markup styling*/
strong,
strong>span/*Once again due to weird instance styling*/
{
    color: #986801;
}
strong:before {
    content: "<";
}
strong:after {
    content: ">";
}
ul {
    list-style-type: none;
}
li>h3:before/*List prefix overrides h3 prefix*/
{
    content: "- " !important;
}
li:not(:has(h3)):before {
    content: "- ";
}
/*Default SNAC css*/
body {
    width: 100;
    margin: 1rem;
    line-height: 1.5;
    word-wrap: break-word;
}
pre {
    overflow-x: scroll;
    /*Don't crop on overflow; this doesn't happen very often*/
}
.snac-embedded-video,
img {
    max-width: 100%
}
.snac-origin {
    font-size: 85%
}
.snac-score {
    float: right;
    font-size: 85%
}
.snac-top-user {
    text-align: center;
    padding-bottom: 2em
}
.snac-top-user-name {
    font-size: 200%
}
.snac-top-user-id {
    font-size: 150%
}
.snac-avatar {
    float: left;
    height: 2.5em;
    padding-right: 1em;
    border-radius: 10px;
}
.snac-author {
    font-size: 90%;
    text-decoration: none
}
.snac-author-tag {
    font-size: 80%
}
.snac-pubdate {
    color: #CFD0D1;
    font-size: 90%
}
.snac-top-controls {
    padding-bottom: 1.5em
}
.snac-post {
    border-top: 1px solid #CFD0D1;
}
.snac-children {
    padding-left: 2em;
    border-left: 1px solid #CFD0D1;
}
.snac-textarea {
    font-family: inherit;
    width: 100%
}
.snac-history {
    border: 1px solid #A1A1A1;
    border-radius: 3px;
    margin: 2.5em 0;
    padding: 0 2em
}
.snac-btn-mute {
    float: right;
    margin-left: 0.5em
}
.snac-btn-unmute {
    float: right;
    margin-left: 0.5em
}
.snac-btn-follow {
    float: right;
    margin-left: 0.5em
}
.snac-btn-unfollow {
    float: right;
    margin-left: 0.5em
}
.snac-btn-hide {
    float: right;
    margin-left: 0.5em
}
.snac-btn-delete {
    float: right;
    margin-left: 0.5em
}
.snac-btn-limit {
    float: right;
    margin-left: 0.5em
}
.snac-btn-unlimit {
    float: right;
    margin-left: 0.5em
}
.snac-footer {
    margin-top: 2em;
    font-size: 75%
}
.snac-poll-result {
    margin-left: auto;
    margin-right: auto;
}
.snac-top-nav {
    text-align: center;
}
/*Begin og segment*/
* {
    background-color: #FAFAFA;
    color: #383A42;
    font-family: monospace;
}
/*This makes buttons look like any other text - this was intended to have surrounding symbols,
but it doesn't work on inputs, so you may want to re-enable the border for a11y*/
input[type=submit] {
    border-width: 0px;
    color: #50A14F;
    font-size: .9em;
    cursor: pointer;
}
@container style(--accessible-buttons: true) {
    input[type=submit] {
        border-width: 2px!important;
    }
}
input[type=text] {
    border-width: 0px;
}
/*Summary ajustments*/
details[open]>summary::marker {
    content: "v "
}
details>summary:hover {
    cursor: pointer;
}
details>summary::marker {
    color: #A626A4;
    content: "> "
}
/*Changes user @s in mentions and in posts*/
.snac-origin>a,
.snac-post-with-desc>p>b>a,
.mention,
.snac-author-tag,
.mention>span {
    color: #526FFF!important
}
.snac-origin>a::before,
.mention::before,
.snac-author::before,
.snac-author-tag::before,
.snac-post-with-desc>p>b>a:before {
    content: ""!important;
}
.snac-origin>a::after,
.mention::after,
.snac-author::after,
.snac-author-tag::after,
.snac-post-with-desc>p>b>a::after {
    content: ""!important
}
/*Changes date from mm-dd-yyyy to [ mm-dd-yyyy ]*/
.snac-pubdate::before {
    content: "[ "
}
.snac-pubdate::after {
    content: " ]"
}
/*Origin ajustments - this includes boosts and replies*/
.snac-origin {
    color: #CA1243
}
/*Media fixes*/
.snac-embedded-video,
img {
    max-width: 200px;
    max-height: 200px;
    height: fit-content;
    object-fit: contain;
}
.snac-content-attachments>a::before,
.snac-content-attachments>a::after {
    content: ""
}
.snac-content-attachments,
img {
    animation-play-state: paused;
}
.snac-content-attachments:hover,
img:hover {
    animation-play-state: running;
}
.snac-top-user {
    text-align: left;
    padding-top: 1em;
}
/*User metadata*/
.snac-metadata {
    margin-top: 1em;
    border: 1px white!important;
    border-style: solid!important;
}
.snac-metadata>* {
    display: inline;
    color: #986801;
}
.snac-metadata>.snac-property-name::before {
    content: '[[ '
}
.snac-metadata>.snac-property-value::before {
    content: ' '
}
.snac-metadata>.snac-property-value::after {
    content: " ]]\A";
    white-space: pre;
}
.snac-metadata>br {
    display: none
}
/*How the hell do I get this to work*/
@when val(--enable-experimental: true) {
    /*The below styling only works on webkit browsers*/
    input[type=submit]::after {
        content: " ]"
    }
    input[type=submit]::before {
        content: "[ "
    }
    input[type=checkbox] {
        visibility: hidden;
    }
    input[type=checkbox]::after {
        visibility: visible;
        content: "[-]";
        color: red;
    }
    input[type=checkbox]::after:checked {
        content: "[x]"
    }
}
/*Hides pinned posts in private view*/
/*Only works in userstyles; change to instance URL*/
@-moz-document regexp(".*/admin.*") {
    .snac-post:has(.snac-post-header > .snac-score > span) {
        display: none;
    }
}